:root{
 --primary-color:rgb(255, 95, 31);
 --secondary-color:rgb(224, 221, 221); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--secondary-color);
    font-family:Roboto Mono, monospace;
    color: var(--secondary-color);
}

header{
    /* background-color: white; */
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    background-image: url(./images/navy\ teal\ moutains.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

header nav{
    margin: 7px 0;
}

header nav li{
    display: inline;
    font-size: 20px;
}

header nav li a{
    text-decoration:underline rgba(42, 39, 39, 0.164);
    text-shadow: 3px 2px 5px black;
    color: rgb(224, 221, 221)    
}

.jumbo{
    background-image: url(./images/navy\ teal\ moutains.jpg);
    background-size: cover;
    background-position: center;
    padding: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.jumbo-container{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.jumbo div h2{
     font-size: 45px;
     flex: 1 0 0;
}

